.navigationArea {
  font-family: "Nunito", sans-serif;
  max-width: 560px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.navigationArea > h3 {
  font-weight: 700;
  font-size: 16px;
  color: #212529;
}

.navigationList {
  display: flex;
  gap: 1rem;
}

.listItem > button {
  height: 40px;
  width: 92px;
  font-size: 14px;
  font-weight: 600;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  color: #5b6166;
  background-color: #e9ecef;
}

.listItem > button:hover {
  background-color: #5b6166;
  color: #ffffff;
  border: 1.4px solid #5b6166;
}

.listItem > button:focus {
  background-color: #fd377e;
  color: #ffffff;
  border: 1.4px solid #fd377e;
}

@media (min-width: 768px) {
  .navigationArea {
    width: 560px;
    justify-content: space-between;
  }
}
